<head>
    <!--social meta data-->
    <title>{{page.metaTitle}}</title>
    <meta name="description" content="{{page.metaDescription}}">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{page.metaTitle}}">
    <meta itemprop="description" content="{{page.metaDescription}}">
    <meta itemprop="image" content="{{page.metaImage}}">

    <!-- Twitter Card data -->
    <!--<meta name="twitter:card" content="summary_large_image">-->
    <!--<meta name="twitter:site" content="@publisher_handle">-->
    <meta name="twitter:title" content="{{page.metaTitle}}">
    <meta name="twitter:description" content="{{page.metaDescription}}">
    <!--<meta name="twitter:creator" content="@author_handle">-->
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="{{page.metaImage}}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{page.metaTitle}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{page.requestedUrl}}" />
    <meta property="og:image" content="{{page.metaImage}}" />
    <meta property="og:description" content="{{page.metaDescription}}" />
    <meta property="og:site_name" content="{{globals.siteName}}" />
    <meta property="article:published_time" content="{{page.metaDatePublished}}" />
    <meta property="article:modified_time" content="{{page.metaDateModified}}" />
    {{#if page.metaCategories}}
        <meta property="article:section" content="{{page.metaCategories}}" />
    {{/if}}
    {{#if page.metaTags}}
        <meta property="article:tag" content="{{page.metaTags}}" />
    {{/if}}
    <!--<meta property="fb:admins" content="Facebook numberic ID" />-->

    <!-- Device -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="en">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/app.base.min.css">
    <link rel="stylesheet" type="text/css" href="/app.main.min.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/android-chrome-36x36.png" sizes="36x36">
    <link rel="icon" type="image/png" href="/images/android-chrome-48x48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="/images/android-chrome-72x72.png" sizes="72x72">
    <link rel="icon" type="image/png" href="/images/android-chrome-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/android-chrome-144x144.png" sizes="144x144">
    <link rel="icon" type="image/png" href="/images/android-chrome-192x192.png" sizes="192x192">

    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <!--[if IE]><link rel="shortcut icon" href="/images/favicon.ico"/><![endif]-->
    <link rel="manifest" href="/files/manifest.json">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#003da5">
    <meta name="msapplication-TileColor" content="#fefefe">
    <meta name="msapplication-TileImage" content="/images/mstile-144x144.png">
    <meta name="theme-color" content="#fefefe">

    <!--analytics-->
    <link rel="alternate" hreflang="en" href="{{globals.requestedUrl}}" />
    <script>
        //google analytics
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-71845629-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
