<main id="page-homepage" class="grid-container row">
    <section id="container-blocks" class="row">
        {{#each homepageBlocks}}
            <div id="homepage-block-{{@index}}" class="grid-block body-highlight" data-url="{{url}}">
                <div class="block-body">
                    {{#if image}}
                        <img src="{{image}}"/>
                    {{else}}
                        {{{icon}}}
                    {{/if}}
                </div>
                <div class="hover-filter hover-filter-back">&nbsp;</div>
                <div class="hover-filter hover-filter-front">&nbsp;</div>
                <div class="hover-filter hover-filter-text">
                    <h2>{{title}}</h2>
                </div>
                <div class="hover-filter hover-filter-overlay">&nbsp;</div>
            </div>
        {{/each}}
    </section>
</main>