<header>
    <div class="row">
        <div class="small-12 columns">
            <ul class="menu align-right">
                {{#eachReverse menu.header.children}}
                    {{#compare children.length 0 operator=">"}}
                        <li class="has-dropdown">
                            {{#if url}}
                                <a href="{{url}}">{{title}}</a>
                            {{else}}
                                <a>{{title}}</a>
                            {{/if}}
                            <ul class="dropdown">
                                {{#each children}}
                                    <li><a href="{{url}}">{{title}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                    {{else}}
                        <li><a href="{{url}}">{{title}}</a></li>
                    {{/compare}}
                {{/eachReverse}}
            </ul>
        </div>
    </div>
</header>
