<header>
    <nav class="top-bar contain-to-grid" data-topbar role="navigation" data-options="is_hover: true">
        <section class="top-bar-section">
            <ul class="menu align-right">
                {{#each menu.header.children}}
                    {{#compare children.length 0 operator=">"}}
                        <li class="has-dropdown">
                            {{#if url}}
                                <a href="{{url}}">{{title}}</a>
                            {{else}}
                                <a>{{title}}</a>
                            {{/if}}
                            <ul class="dropdown">
                                {{#each children}}
                                    <li><a href="{{url}}">{{title}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                    {{else}}
                        <li><a href="{{url}}">{{title}}</a></li>
                    {{/compare}}
                {{/each}}
            </ul>
        </section>
    </nav>
</header>
