{{#each posts}}
    <div class="post" onclick="window.location.href='/post/{{url}}'" data-group="{{../group}}">
        <div class="content-post">
            <h3>{{title}}</h3>
            <h5>{{postDate}}</h5>
            {{{excerpt}}}
        </div>
    </div>
{{/each}}