<main id="page-portfolio" class="page-container">
    <section class="grid-container row">
        <h1 class="page-title">Portfolio</h1>
        <div id="portfolio-quote-container" class="col-sm-12">
            {{#each quotes}}
                <div class="portfolio-quote">
                    {{{body}}}
                    <h5 class="portfolio-quote-author">{{author}} {{#if source}}- {{source}}{{/if}}</h5>
                </div>
            {{/each}}
        </div>
    </section>
    <section>
        {{#each portfolioGroups}}
            <div class="grid-container row">
                <h2 class="portfolio-carousel-header">{{title}}</h2>
            </div>
            <div class="portfolio-carousel">
                {{#each items}}
                    <a href="#modal-{{slug}}">
                        <div class="portfolio-carousel-content {{slug}}">
                            <h3 class="portfolio-carousel-item-title">{{title}}</h3>
                            {{{icon}}}
                        </div>
                    </a>
                {{/each}}
            </div>
        {{/each}}
    </section>
    {{#each portfolioGroups}}
        {{#each items}}
            <aside class="modal--fade" id="modal-{{slug}}" data-stackable="false" tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">
                <div class="modal-inner">
                    <div class="modal-content">
                        <h3 class="modal-title">{{title}}</h3>
                        {{{body}}}
                        {{#if techStack}}
                            <p class="portfolio-tech-stack">
                                <span class="title">Tech Stack:</span> {{techStack}}
                            </p>
                        {{/if}}
                        <div class="row">
                            {{#if url}}
                                <div class="col-sm-6">
                                    <a href="{{url}}" class="button portfolio-button-project">
                                        <span>View Project</span>
                                    </a>
                                </div>
                            {{/if}}
                            {{#if repositoryUrl}}
                                <div class="col-sm-6">
                                    <a href="{{repositoryUrl}}" target="_blank" class="button portfolio-button-code">
                                        <span>View Code</span>
                                    </a>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <a href="#!" class="modal-close" title="Close this modal"
                   data-dismiss="modal" data-close="Close">&times;</a>
            </aside>
        {{/each}}
    {{/each}}
</main>