<main id="page-portfolio" class="grid-container row">
    <h1 class="page-title">Portfolio</h1>
    <section id="container-quote" class="small-12 columns">
        <div class="callout">
            {{{quote.body}}}
            <h5>{{quote.author}}</h5>
        </div>
    </section>
    <section id="container-sliders" class="small-12">
        {{#each portfolioGroups}}
            <h2 class="slider-header">{{title}}</h2>
            <div class="slider-container">
                <div class="l--slick-carousel">
                    {{#each items}}
                        <div class="portfolio-item">
                            <a href="#modal-{{slug}}">
                                <div class="portfolio-content">
                                    {{{featuredIcon}}}
                                    <h3>{{title}}</h3>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </section>
    <aside id="container-modals">
        {{#each portfolioGroups}}
            {{#each items}}
                <section class="modal--fade" id="modal-{{slug}}" data-stackable="false" tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">
                    <div class="modal-inner">
                        <h3>{{title}}</h3>
                        {{{body}}}
                        <div id="modal-footer">
                            {{#if techStack}}
                                <p class="tech-stack"><span class="title">Tech Stack:</span> {{techStack}}</p>
                            {{/if}}
                            <div class="row">
                                {{#if url}}
                                    <div class="col-sm-6">
                                        <a href="{{url}}"><i class="fa fa-folder-open-o"></i>View Project</a>
                                    </div>
                                {{/if}}
                                {{#if repositoryUrl}}
                                    <div class="col-sm-6">
                                        <a href="{{repositoryUrl}}" target="_blank"><i class="fa fa-code"></i>View Code</a>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <a href="#!" class="modal-close" title="Close this modal"
                       data-dismiss="modal" data-close="Close">&times;</a>
                </section>
            {{/each}}
        {{/each}}
    </aside>
</main>