<main class="page homepage">
    <section class="row">
        <div class="small-12 columns">
            {{{page.body}}}
        </div>
    </section>
    <section class="row square-blocks align-stretch">
        {{#each page.content}}
            <div class="small-12 medium-6 columns order-{{addition @index 1}} {{gridOrder @index "medium"}}">
                {{#if body}}
                    <a href="{{linkUrl}}">
                        {{title}}
                        {{{body}}}
                    </a>
                {{else}}
                    {{title}}
                    <img src="{{image}}" alt="some image"/>
                {{/if}}
            </div>
        {{/each}}
    </section>
</main>
<script type="text/javascript">
    $(function(){
        $(".page div").velocity("transition.expandIn");
    });
</script>