<main class="row page portfolio">
    <div class="small-12 columns">
        <div class="callout quote">
            {{{quote.body}}}
            <h5>{{quote.author}}{{#if quote.source}} - {{quote.source}}{{/if}}</h5>
        </div>
    </div>
    <div class="small-12 portfolio-sliders">
        {{#each portfolio}}
            <h2>{{name}}</h2>
            <div class="slider-container">
                <div class="portfolio-carousel">
                    {{#each items}}
                        <div class="portfolio-item" data-open="modal-{{../name}}-{{@index}}">
                            <div>
                                <h3>{{title}}</h3>
                                {{url}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
    <div class="modals">
        {{#each portfolio}}
            {{#each items}}
                <div class="reveal small" id="modal-{{../name}}-{{@index}}" data-reveal>
                    <button class="close-button" data-close aria-label="Close reveal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3>{{title}}</h3>
                    {{{body}}}
                </div>
            {{/each}}
        {{/each}}
    </div>
</main>
<script type="text/javascript">
    $(function(){
        portfolio.init();
    });
</script>