<main class="row page portfolio">
    <div class="small-12 columns">
        <div class="callout">
            <h5>{{quote.body}}</h5>
            <p>{{quote.author}}</p>
        </div>
    </div>
    <div class="small-12">
        {{#each portfolio}}
            {{name}}
            <div class="portfolio-carousel">
                {{#each items}}
                    <div class="portfolio-item">
                        <div>
                            {{title}}
                            {{url}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</main>
<script type="text/javascript">
    $(function(){
        portfolio.init();
    });
</script>