<main class="row page portfolio">
    <div class="small-12 columns">
        <div class="callout">
            {{{quote.body}}}
            <h5>{{quote.author}}</h5>
        </div>
    </div>
    <div class="small-12 portfolio-sliders">
        {{#each portfolio}}
            <h2>{{name}}</h2>
            <div class="portfolio-carousel">
                {{#each items}}
                    <div class="portfolio-item">
                        <div>
                            <h3>{{title}}</h3>
                            {{url}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</main>
<script type="text/javascript">
    $(function(){
        portfolio.init();
    });
</script>